body {
  background: rgb(232, 128, 17);
  background: linear-gradient(
    90deg,
    rgba(232, 128, 17, 1) 0%,
    rgba(14, 22, 232, 1) 100%
  );
}

*::before,
::after {
  display: block;
  margin: 0;
  background-color: antiquewhite;
  box-sizing: border-box;
}
.wrapper_game {
  display: flex;
  align-items: center;
  justify-content: center;
}
input,
label {
  display: block;
  margin: 10px;
  width: 15%;
  height: 30px;
}
#submit_input {
  text-align: center;
  width: 15%;
  height: 30px;
  cursor: pointer;
}
